:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #f11a7b 10%,
    #feffac
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgba(241, 26, 123, 0.33) 50%,
    rgba(254, 255, 172, 0.33) 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}
